<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5">
<head th:insert="blocks/head :: head"></head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5 text-center">
        <div>
            <h1>Welcome. This is USERS page.</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstname}"></td>
                        <td th:text="${user.lastname}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <header th:insert="blocks/footer :: footer"></header>
    <scripts th:insert="blocks/scripts :: scripts"></scripts>
</body>
</html>