<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="blocks/head :: head"></head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 text-center">
    <div>
        <h1>List of Users</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:href="@{'/users?' + ${currentPage} + '&sortBy=id&sortOrder=' + ${reverseSortOrder}}">User ID</a>
                </th>
                <th>
                    <a th:href="@{'/users?' + ${currentPage} + '&sortBy=email&sortOrder=' + ${reverseSortOrder}}">Email</a>
                </th>
                <th>
                    <a th:href="@{'/users?' + ${currentPage} + '&sortBy=firstname&sortOrder=' + ${reverseSortOrder}}">First name</a>
                </th>
                <th>
                    <a th:href="@{'/users?' + ${currentPage} + '&sortBy=lastname&sortOrder=' + ${reverseSortOrder}}">Last name</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
            </tr>
            </tbody>
        </table>

        <pagination th:insert="blocks/pagination :: pagination"></pagination>

    </div>
</div>

<header th:insert="blocks/footer :: footer"></header>
<scripts th:insert="blocks/scripts :: scripts"></scripts>
</body>
</html>