<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity5"
>

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 text-center bg-wight">
    <div>
        <h1>Edit payment</h1>
    </div>

    <div class="mt-4">

        <form th:action="@{/payments/save}" method="post"
              class="text-left"
              th:object="${payment}"
              enctype="multipart/form-data"
        >
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" name="bookingId" th:field="*{booking}"/>

            <div class="form-group row">
                <label class="col-form-label col-4">Booking</label>
                <div class="col-8">
                    <a th:href="@{'/bookings/' + ${payment.booking.id} + '/edit'}" th:text="*{booking.room.title}"></a>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4" for="sum">Sum</label>
                <div class="col-8">
                    <input type="number" class="form-control" th:field="*{sum}" required
                           min="0" name="bookingId" id="sum"
                    />
                    <p th:if="${#fields.hasErrors('sum')}" class="label text-danger" th:errors="*{sum}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4" for="currency">Currency</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{currency}" required
                           minlength="1" maxlength="45" id="currency"
                    />
                    <p th:if="${#fields.hasErrors('currency')}" class="label text-danger" th:errors="*{currency}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Status</label>
                <div class="col-8">
                    <select th:field="*{status}" class="form-control" name="status" id="status">
                        <option th:each="paymentStatus : ${paymentStatuses}"
                                th:text="${paymentStatus.name}"
                                th:value="${paymentStatus}"
                                th:selected="${paymentStatus == status}"
                        ></option>
                    </select>
                    <p th:if="${#fields.hasErrors('status')}" class="label text-danger" th:errors="*{status}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Expire At</label>
                <div class="col-8">
                    <input type="hidden" th:field="*{expireAt}" same="expireAt"/>
                    <span th:text="${#dates.format(payment.expireAt, 'yyyy-MM-dd HH:mm')}"></span> <i><b>// TODO: make it editable</b></i>
                    <p th:if="${#fields.hasErrors('expireAt')}" class="label text-danger" th:errors="*{expireAt}"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Created At</label>
                <div class="col-8">
                    <span th:text="${#dates.format(payment.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Updated At</label>
                <div class="col-8">
                    <span th:text="${#dates.format(payment.updatedAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </div>

            <div class="row d-flex justify-content-between mt-4">
                <button type="reset" class="btn btn-warning float-left">RESET</button>
                <button type="submit" class="btn btn-primary float-right">UPDATE</button>
            </div>
        </form>

    </div>
</div>


<header th:insert="blocks/footer :: footer"></header>

<scripts th:insert="blocks/scripts :: scripts"></scripts>
</body>
</html>