<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Hotel</a></h5>
        <nav sec:authorize="isAuthenticated()" class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/users}">Users</a>
            <a class="p-2 text-dark" sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/rooms}">Rooms</a>
            <a class="p-2 text-dark" th:href="@{/profile}">Profile</a>
        </nav>

        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary" th:href="@{/register}">Register</a>
<!--        <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>-->

        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" id="logout-form" method="post"></form>
        <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger" onclick="document.getElementById('logout-form').submit();" href="#">Logout</a>

<!--        <a class="btn btn-outline-danger" th:href="@{/logout}">Logout</a>-->
        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary" th:href="@{/login}">Login</a>
    </div>
</div>